// Most styles comes from bootstrap and is personalized through variables.
.io-button {
  margin-right: $spacer * .25;
  margin-left: $spacer * .25;

  &.btn-outline-primary {
    color: $fg-light;
  }

  &.btn-dark {
    // stylelint-disable indentation
    @include button-variant(
        $background: $dark,
      $border: $dark,
      $hover-background: $primary,
      $hover-border: $primary,
      $active-background: $primary
    );
    // stylelint-enable indentation
  }

  &.btn-lg {
    font-family: $title-font;
    font-weight: $title-font-weight-normal;
  }

  &.btn-link {
    // missing in bootstrap, it's only applied to `<a>` tags.
    // @see https://github.com/twbs/bootstrap/blob/v4.4.1/scss/mixins/_text-emphasis.scss
    @each $color, $value in $theme-colors {
      &.text-#{$color} {
        @include hover-focus() {
          color: darken(
              $value,
              $emphasized-link-hover-darken-percentage
            ) !important;
        }
      }
    }
  }

  &:disabled,
  &.disabled {
    cursor: default;
  }
}
