// Most styles comes from bootstrap and is personalized through variables.
.io-button {
  position: relative;
  margin-right: $spacer * 0.25;
  margin-left: $spacer * 0.25;
  line-height: 1.35em;

  .icon {
    display: inline-block;
    width: 1.35em;
    height: 1.35em;
    margin-left: -$btn-padding-x * 0.625;
  }

  &[class^='btn-outline-'],
  &[class*=' btn-outline-'] {
    color: $fg-light;
  }

  &.btn-dark {
    // stylelint-disable indentation
    @include button-variant(
      $background: $dark,
      $border: $dark,
      $hover-background: $primary,
      $hover-border: $primary,
      $active-background: $primary
    );
    // stylelint-enable indentation
  }

  &.btn-lg {
    font-family: $title-font;
    font-weight: $title-font-weight-normal;
    // line-height: $btn-line-height;

    .icon {
      margin-left: -$btn-padding-x-lg * 0.625;
    }
  }

  &.btn-sm {
    .icon {
      margin-left: -$btn-padding-x-sm * 0.625;
    }
  }

  &.btn-link {
    // missing in bootstrap, it's only applied to `<a>` tags.
    // @see https://github.com/twbs/bootstrap/blob/v4.4.1/scss/mixins/_text-emphasis.scss
    @each $color, $value in $theme-colors {
      &.text-#{$color} {
        // TODO: figure out where hover-focus comes from
        //@include hover-focus() {
        //  color: darken(
        //    $value,
        //    $emphasized-link-hover-darken-percentage
        //  ) !important;
        //}
      }
    }
  }

  &:disabled,
  &.disabled {
    cursor: default;
  }

  &.icon-only {
    padding: $btn-padding-y;

    &.btn-lg {
      padding: $btn-padding-y-lg;
    }

    &.btn-sm {
      padding: $btn-padding-y-sm;
    }

    .icon {
      margin-left: 0;
    }
  }
}
