.io-talk-card {
  margin-bottom: 3 * $spacer;
  .details {
    top: auto;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    background-color: fade-out($color: $dark, $amount: 0.2);
    text-align: center;
  }
}
