.io-talk-card {
  margin-bottom: 3 * $spacer;

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center; // Center the content vertically
    position: relative;
    height: 200px;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    background-color: fade-out($color: $dark, $amount: 0.2);
    text-align: center;

    .title {
      flex: 1; // Allow the title to take up available space
      display: flex;
      align-items: center; // Center the title vertically within its flex container
      justify-content: center; // Center the title horizontally
    }

    .authors {
      position: absolute;
      bottom: 10px; // Align authors 10px from the bottom
      width: 100%;
    }
  }
}
