# Do not normalize local files to CRLF on windows.
core.eol lf
core.autocrlf false
# Stop ignoring changes in case since it breaks the builds.
core.ignorecase false
# We don't care about file permissions since nothing is executable.
core.fileMode false
# Avoid merge conflicts related to line-endings https://stackoverflow.com/a/12194759/1218980
merge.renormalize true

# Perform normalization to LF if needed.
* text eol=lf

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
# --------- image
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
# --------- video
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
# --------- archive
*.tar binary
*.gz binary
*.zip binary
*.7z binary
# --------- font
*.ttf binary
*.woff binary
*.woff2 binary
*.eot binary
# --------- other
*.mo binary

# These files are text
*.gitattributes text
*.gitignore text
*.md text
*.js text
*.jsx text
*.html text
*.json text
*.lock text
*.po text
*.txt text
*.xml text
*.svg text
*.scss text
*.css text
*.env* text
