.io-footer-nav-item {
  padding: ($spacer * 0.625) 0;
  border-bottom: 1px solid $dark;

  &:first-child {
    padding-top: 0;
  }

  .content {
    // display: inline-block;
    color: $fg-light;
    // padding: 0;

    // TODO: figure out where hover-focus comes from
    //@include hover-focus {
    //  color: $primary;
    //}
  }
  font-size: 0.875rem;

  .icon {
    // position: absolute;
    margin-right: 5px;
    color: $primary;
  }
}
