.io-footer-nav-item {
  padding: ($spacer * .625) 0;
  border-bottom: 1px solid $dark;

  &:first-child {
    padding-top: 0;
  }

  .content {
    // display: inline-block;
    color: $fg-light;
    // padding: 0;

    @include hover-focus {
      color: $primary;
    }
  }
  font-size: .875rem;

  .icon {
    // position: absolute;
    margin-right: 5px;
    color: $primary;
  }
}
