.io-typography {
  &.title {
    color: $primary;
    font-family: $title-font;
    font-weight: bold;
    letter-spacing: -.5px;
  }

  &.light {
    color: $fg-light;
  }

  &.uppercase {
    text-transform: uppercase;
  }
}
