.io-typography {
  &.title {
    color: $primary;
    font-family: $title-font;
    font-weight: bold;
    letter-spacing: -0.5px;
  }

  &.light {
    color: $fg-light;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.text-sm {
    font-size: 0.875em;
    line-height: 1.5rem;
  }
}
