.faq-container {
  padding: 2em;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .question-text {
    p {
      margin: 0;
    }
  }

  .anchor {
    padding: 0 10px;
  }

  .expand-icon {
    width: 0.8em;
    height: 0.8em;
    padding: 0 10px;
    transition: transform 0.3s ease;
    transform: rotate(-90deg);

    &.open {
      transform: rotate(0deg);
    }
  }

  .faq-section {
    margin-bottom: 3em;

    h2 {
      margin-bottom: 1em;
      font-size: 2em;
    }

    .faq-question {
      margin-bottom: 2em;

      h3 {
        font-size: 1.5em;
      }

      p {
        font-size: 1em;
        line-height: 1.5;
      }
    }
  }
}

@media (width >= 768px) {
  .faq-container {
    .faq-section {
      .faq-question {
        flex: 0 0 calc(50% - 1em);
      }
    }
  }
}
