.io-main-nav-item {
  display: inline-block;
  position: relative;
  margin-left: $spacer * .5;
  padding: $spacer * .5;
  color: $gray-200;
  font-family: $title-font;
  font-weight: 500;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $primary;
    transition: all .3s ease-in-out 0s;
    visibility: hidden;
  }

  &.active {
    color: $fg-light;

    &::before {
      width: 100%;
      visibility: visible;
    }
  }

  @include hover-focus() {
    @extend .active;
  }
}
