.io-location-info {
  padding-bottom: (3 * $spacer);

  .location-map {
    iframe {
      width: 100%;
      height: 100%;
      min-height: 300px;
    }
  }

  .location-details {
    padding: ($spacer * 3.75) $spacer;
    background-color: $bg-dark;

    hr {
      background-color: $gray-300;
    }
  }
}
