@mixin scrolled {
  padding: $spacer 0;
  background-color: transparentize($color: $bg-dark, $amount: .1);
}

.io-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: ($spacer * 1.5) 0;
  z-index: 997;
  transition: all .5s;

  &.scrolled {
    @include scrolled;
  }

  .logo {
    float: left;
    margin-right: $spacer * 1.25;
  }

  @include media-breakpoint-down(lg) {
    .header-container {
      max-width: 100%;
    }
  }

  @include media-breakpoint-down(sm) {
    @include scrolled;
  }
}
