.io-footer {
  background-color: lighten($gray-900, 5%);

  .footer-content {
    padding-bottom: $spacer * 1.75;
    background-color: $gray-900;
  }

  .copyright {
    padding: (1.5 * $spacer) 0;
    color: fade-out(#fff, 0.8);
    text-align: center;
  }
}
