// Exported color classes, see _variables for their values.

@each $name, $value in $brand-colors {
  .io-brand-#{$name} {
    color: $value !important;
  }
}

@each $name, $value in $grays {
  .bg-gray-#{$name} {
    background-color: $value !important;
  }

  .gray-#{$name} {
    color: $value !important;
  }
}
