body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: $primary;
  transition: .5s;
}

a:hover,
a:active,
a:focus {
  color: darken($primary, 10%);
  outline: none;
  text-decoration: none;
}

p {
  margin: 0 0 30px 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  padding: 0;
  color: $primary;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: -.5px;
}
