// Custom
$brand-background: #161843;
$brand-meetup: #7ecdc3;
$brand-conference: #d75ba1;

$bg-dark: fade-out($brand-background, .1);
$bg-light: fade-out($brand-background, .95);

$fg-dark: #9195a2;
$fg-light: #fff;

$title-font: 'Poppins', sans-serif;

// Bootstrap overrides

// COLORS
$primary: $brand-meetup;

$body-bg: transparent;
$body-color: $fg-dark;

// TYPOGRAPHY
$font-family-sans-serif: 'Roboto', sans-serif;
// $font-family-monospace
